*{
	margin:0px;
	padding:0px;
}

a,input,button{ outline:none; }
::-moz-focus-inner{border:0px;} 	/*CSS去掉超链接或按钮点击时出现的虚线边框*/

#all{
	position:relative;  
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	background:-webkit-linear-gradient(top,rgb(220,239,254),#ffffff);
	background: -moz-linear-gradient(top,rgb(220,239,254),#ffffff);
}

#main2{	
	width:1000px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:2px solid rgb(228,230,235);
}

#head_below{
	position:relative;    
	width:1000px;
	height:60px;
	background-color:rgb(236,239,242);
	display:inline-block;
    _display:inline;    /*IE6，IE7中不支持inline-block，所以针对IE6，IE7写了下面的三个属性。*/
    *display:inline;
    zoom:1;
	border-top:1px solid rgb(219,220,224);
	border-bottom:1px solid rgb(219,220,224);
}

#tip{
	position:absolute;    
	margin:10px 30px;
	font-size:150%;
	font-style:bold;
}


#return{
	position:absolute;   
	color:blue;
	left:800px;
	margin:17px 30px;
}


/*---------------帖子以及回帖--------------*/
#info{
	position:relative;     /*相对定位*/
	width:750px;
	display:inline-block;
	min-height:450px;
	/*height:auto !important;*/
	border-left:1px solid rgb(229,229,229);
	border-right:1px solid rgb(228,230,235);
}

	/*---------------帖子内容--------------*/
#postinfo{
	position:relative;     /*相对定位*/
	width:750px;
	display:inline-block;
	height:auto !important;
	border-bottom:1px solid rgb(228,230,235);
}

#title-head{   
	height:35px;
	padding-top:10px;
	padding-left:20px;
	border-bottom:2px solid rgb(219,220,224);
}

#title{   
	font-size:100%;
	font-weight:bold;
}


#total{
	position:absolute;     
	font-size:100%;
	left:550px;
	display:inline-block;
	padding-bottom:10px;
}

#total label{
	color:red;
}

#user-info{     
	width:150px;
	min-height:250px;
	background-color:rgb(235,240,250);
	display:inline-block;
	position:absolute; 
}

#head-img{
	padding:15px 15px;
	display:inline-block;
}

#head-img img{
	width:120px;
	height:120px;
	border-radius:120px;  /*圆形*/
	display:block;
	position:absolute; 	/*必要！*/
}

#author{
	position:absolute; 
	left:50px;
	font-size:120%;
	line-height:200%;
	margin-top:150px;	
}

#content{
	width:600px;
	/*position:absolute; 
	top:0px;
	left:160px;*/
	margin-left:150px;
	display:inline-block;
	margin-bottom:50px;	
	min-height:250px;
	height:auto !important;
}

#text{
	line-height:140%;
	font-family:"宋体";
	font-size:110%;
	margin:20px 0px 20px 20px;
	text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
}

#picture img{
	width:530px;
	margin-left:20px;
	margin-top:0px;
	margin-bottom:70px;
}

#share{
	position:absolute;
	left:400px;
	bottom:60px;
}

#zan_post{
	font-family:"楷体";
	font-size:100%;
	position:absolute;
	right:290px;
	bottom:8px;
}

#del{
	font-family:"楷体";
	font-size:100%;
	display:inline-block; 
	position:absolute;
	right:240px;
	bottom:9px;
}

	/*前后都得消除块元素*/
#time{
	font-size:90%;
	position:absolute;
	right:70px;
	bottom:10px;
	display:inline-block; 
}

#show_reply{
	font-size:90%;
	position:absolute;
	right:20px;
	bottom:10px;
	display:inline-block; 
}	


	/*---------------回帖内容--------------*/	
#repost{
	/*position:relative;     /*相对定位/
	width:700px;*/
	display:inline-block;
}

#repostinfo{
	position:relative;     /*相对定位*/
	display:inline-block;
	min-height:220px;
	height:auto !important;
	border-bottom:1px solid rgb(228,230,235);
}

#reuser-info{     
	width:150px;
	min-height:200px;
	background-color:rgb(235,240,250);	
	display:inline-block;
	position:absolute; 
}

#rehead-img{
	padding:15px 15px;
	display:inline-block;
}

#rehead-img img{
	width:120px;
	height:120px;
	border-radius:120px;  /*圆形*/
	display:block;
}

#reusername{
	position:absolute;
	width:100%;
	font-size:120%;
	line-height:200%;
	text-align:center;
}

#recontent{
	width:600px;
	margin-left:150px;
	margin-bottom:100px;
}

.retext{
	line-height:120%;
	font-family:"宋体";
	font-size:110%;
	padding:20px 0px 20px 20px;
}

#zan_re{
	font-family:"楷体";
	font-size:100%;
	display:inline-block; 
	position:absolute;
	right:250px;
	bottom:9px;
}

#re_del{
	font-family:"楷体";
	font-size:100%;
	display:inline-block; 
	position:absolute;
	right:200px;
	bottom:9px;
}

	/*前后都得消除块元素*/
#retime{
	font-size:14px;
	position:absolute;
	right:40px;
	bottom:10px;
}

	/*分级回复*/
#re_reply{
	display:none;
}
/*---------------回帖内容END--------------*/

#end{
	position:relative;    
	width:999px;
	height:50px;
	background-color:rgb(236,239,242);
    _display:inline;    /*IE6，IE7中不支持inline-block，所以针对IE6，IE7写了下面的三个属性。*/
    *display:inline;
    zoom:1;
	border:1px solid rgb(219,220,224);
}

#end span{
	position:absolute;    
	margin:10px 30px;
	font-size:90%;
	display:inline-block;
}

#end label{
	color:red;
}

#end a{
	position:absolute;   
	color:blue;
	left:800px;
	margin:15px 30px;
	display:inline-block;
	font-size:90%;
}

	
	/*-------回复输入框-----------*/
#publish_reply{
	height:300px;
}
	
#tips{
	margin-top:10px;
	margin-left:40px;
}

#publish_reply img{
	margin-top:20px;
	margin-left:50px;
	position:absolute;  
	display:inline-block;
}


#reply_content{
	 height:120px;
	 width:500px;
	 border:1px solid #CCC;
	 -moz-box-shadow:2px 2px 10px #06c;
     -webkit-box-shadow:2px 2px 10px #06c;
     box-shadow:2px 2px 10px #06c;
	padding-top:20px;
	padding-left:20px;	
	font-size:120%;
	line-height:120%;
	resize:none;
	margin-top:20px;
	margin-left:120px;
	display:block;
	margin-bottom: 10px;
}

  /*blue*/
.rebutton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/120% 'Microsoft yahei',Arial, Helvetica, sans-serif;
	padding: .4em 2em .50em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	margin-top:10px;	
	margin-left:500px;
	position:absolute;  	
}

.rebutton:hover {
	text-decoration: none;
}

.rebutton:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}




.sub_btn {
	position:absolute;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	
	margin-left:400px;


}
.sub_btn:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}


#publish_reply p{height:28px; line-height:28px; position:relative}

.emotion{
	width: 42px;
	height: 20px;
	background: url(../images/icon.gif) no-repeat 2px 2px;
	padding-left: 20px;
	cursor: pointer;

	margin-left: 120px;

}

.emotion:hover{
	background-position: 2px -28px;
}

.qqFace{
	margin-top:4px;
	background:#fff;
	padding:2px;
	border:1px #dfe6f6 solid;
} 

.qqFace table td{padding:0px;} 
.qqFace table td img{cursor:pointer;border:1px #fff solid;} 
.qqFace table td img:hover{border:1px #0066cc solid;} 

/*表情面板效果*//*
		span.emotion{color:gray;font-size:13px;font-weight:bold;width:42px; height:20px; background:url(../face/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
		span.emotion:hover{background-position:2px -23px}
		.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
		.qqFace table td{padding:0px;}
		.qqFace table td img{cursor:pointer;border:1px #fff solid;}
		.qqFace table td img:hover{border:1px #0066cc solid;}
		*/